/* style.css */

/* Animation for navbar */
.navbar {
  opacity: 0;
  transform: translateY(-100px);
  animation: slideDown 0.8s ease-out forwards;
}

/* Navbar styling */
.navbar-expand-lg {
  width: 100%; /* Makes navbar wider */
  margin: 0 auto; /* Centers the navbar */
}

/* Hover effect for navbar links */
.navbar-nav .nav-link {
  position: relative;
  color: transparent;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #f9d342;
}

.custom-top-padding {
  padding-top: 6rem;
}
.portfolio-img {
  width: 450px;
  height: 450px;
  object-fit: fill;
  cursor: pointer;
}
.showcase-section {
  background-color: #3DCCC7;
}
.learn-section {
  background-color: #68D8D6;
  color: #ffffff;
}

.portfolio-section {
  background-color: #9CEAEF;
  color: #6c757d;
}

.contact-section {
  background-color: #9CEAEF;
  color: #ffffff;
}

.contact-section .list-group-item {
  background-color: transparent;
  border: none; /* Optional: Removes the borders for a cleaner look */
}



/* Slide-in animation keyframes */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: grey;
}
