* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(225deg, 	#005b96, #03396c, #011f4b);
  animation: color 5s ease-in-out infinite;
}

nav {
  width: 100%;
  height: 10vh;
  position: sticky;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}

.logo span {
  color: grey;

}

.hamburg,
.cancel {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  color: #3DCCC7;
  font-size: 2rem;
  display: none;
}

.nav-container .links {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-container .links a {
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3DCCC7;
  text-decoration: none;
  font-weight: 500;
  transform: 0.3s linear;
}

.nav-container .links a::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #68D8D6;
  transition: 0.2s linear;
}

.nav-container .links a:hover::before {
  width: 100%;
}

.nav-container .contact-btn {
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 20px;
  border: 2px solid #3DCCC7;
  transition: 0.2s linear;
}

.nav-container .contact-btn a {
  color: #9CEAEF;
  transition: 0.3s linear;
}

.nav-container .contact-btn:hover,
.nav-container .contact-btn:hover a {
  background-color: #3DCCC7;
  color: white;
}

.nav-container .links a:hover {
  color: #9CEAEF;
}

.dropdown {
  z-index: 100;
  position: absolute;
  top: 0;
  transform: translateY(-500px);
  width: 100%;
  height: auto;
  backdrop-filter: brightness(40%) blur(3px);
  box-shadow: 0 0 20px #3DCCC7;
  transition: 0.2s linear;
}

.dropdown .links a {
  color: #9CEAEF;
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 15px 0;
  align-items: center;
  transition: 0.2s linear;
}

.dropdown .links a:hover {
  background-color: #68D8D6;
}

section {
  width: 100%;
  height: 90vh;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-container .image {
  z-index: -1;
  width: 50%;
}

.main-container .image img {
  width: 100%;
}

.main-container .content {
  color: #3DCCC7;
  width: 40%;
  min-height: 100px;
}



.content h1 {
  font-size: 32px;
}
.content h2 {
  font-size: 24px;
}

.content h1 span {
  color: #9CEAEF;
  text-shadow: 0 0 10px #68D8D6;
  font-size: 40px;
}

.content .typewriter {
  font-weight: 600;
  font-size: 40px;
}

.content .typewriter span {
  color: #68D8D6;
  font-size: 3rem;
  text-shadow: 0 0 5px #3DCCC7;
  position: relative;
  transition: 0.3s linear;
}

.typewriter span::before {
  content: "Developer";
  animation: words 15s infinite;
}

.typewriter span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid #9CEAEF;
  animation: cursor 0.6s linear infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid #68D8D6;
  }
}

@keyframes words {
  0%,
  33% {
    content: "Developer";
  }
  34%,
  66% {
    content: "UI/UX Designer";
  }
  67%,
  100% {
    content: "Learner";
  }
}

.content p {
  font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
  margin: 10px 0;
}

.social-links i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: 0.2rem solid #68D8D6;
  border-radius: 50%;
  color: #3DCCC7;
  margin: 5px 10px;
  font-size: 1.5rem;
  transition: 0.2s linear;
}

.social-links i:hover {
  scale: 1.3;
  color: white;
  background-color: #3DCCC7;
  filter: drop-shadow(0 0 10px #9CEAEF);
}

.content button {
  width: 40%;
  height: 6vh;
  margin: 30px;
  background-color: #3DCCC7;
  color: white;
  border: none;
  outline: none;
  font-size: 100%;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.2s linear;
}

.content button:hover {
  scale: 1.1;
  color: #68D8D6;
  border: 2px solid #3DCCC7;
  background-color: transparent;
  font-weight: 700;
  box-shadow: 0 0 40px #3DCCC7;
}
.con-container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 8%;
}
.con-container .row{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}
.row section.col{
	display: flex;
	flex-direction: column;
}
.row section.left{
	flex-basis: 35%;
	min-width: 320px;
	margin-right: 60px;
}
.row section.right{
	flex-basis: 60%;
}
section.left .contactTitle h2{
	position: relative;
	font-size: 28px;
	color: #ddd;
	display: inline-block;
	margin-bottom: 25px;
}
section.left .contactTitle h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: #888;
	top: 120%;
	left: 0;
}
section.left .contactTitle h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	background-color: dodgerblue;
	top: calc(120% - 1px);
	left: 0;
}
section.left .contactTitle p{
	font-size: 17px;
	color: #ccc;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-bottom: 22px;
}
section.left .contactInfo{
	margin-bottom: 16px;
}
.contactInfo .iconGroup{
	display: flex;
	align-items: center;
	margin: 25px 0px;
}
.iconGroup .icon{
	width: 45px;
	height: 45px;
	border: 2px solid dodgerblue;
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}
.iconGroup .icon i{
	font-size: 20px;
	color: #ddd;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.iconGroup .details span{
	display: block;
	color: #888;
	font-size: 18px;
}
.iconGroup .details span:nth-child(1){
	text-transform: uppercase;
	color: #ccc;
}
section.left .socialMedia{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 22px 0px 20px;
}
.socialMedia a{
	width: 35px;
	height: 35px;
	text-decoration: none;
	text-align: center;
	margin-right: 15px;
	border-radius: 5px;
	background-color: dodgerblue;
	transition: 0.4s;
}
.socialMedia a i{
	color: #ddd;
	font-size: 18px;
	line-height: 35px;
	border: 1px solid transparent;
	transition-delay: 0.4s;
}
.socialMedia a:hover{
	transform: translateY(-5px);
	background-color: #2e2e2e;
	color: dodgerblue;
	border: 1px solid dodgerblue;
}
.socialMedia a:hover i{
	color: dodgerblue;
}



@media (max-width: 884px) {
  body {
    overflow-y: visible;
  }

  nav .logo {
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 1.5rem;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .nav-container .links {
    display: none;
  }

  .hamburg,
  .cancel {
    display: block;
  }

  .main-container .content {
    width: 80%;
  }

  .social-links i {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }

  .cancel {
    color: white;
  }

  .main-container .image {
    width: 80%;
    margin-bottom: 0px;
  }
}
